@()
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      @main("Welcome to Your Frontend Service") {
        <h1>Welcome to Your Frontend Service!</h1>
      }
    </div>
  </section>

    <div class="container">

      <div class="row">
        <p>This website provides a simple example of a service built in Scala following a TTD approach. </p>
        <p>You can view the source code on <a id="git-link" href="https://github.com/chris-ianson/ob-frontend-example1">over on github.com</a></p>
      </div>
  </div>

</main>